/* =========================== */
/* ========== FONTS ========== */
/* =========================== */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

@font-face {
    font-family: "Segoe UI";
    font-weight: 500;
    src: url("../font/Segoe UI/segoeui.ttf") format("truetype");
}

@font-face {
    font-family: "Segoe UI";
    font-weight: 600;
    src: url("../font/Segoe UI/seguisb.ttf") format("truetype");
}

@font-face {
    font-family: "Segoe UI";
    font-weight: 700;
    src: url("../font/Segoe UI/segoeuib.ttf") format("truetype");
}

/* ============================ */
/* ========== COLORS ========== */
/* ============================ */

:root {
    --black-0: #000;
    --black-1: #222222;
    --black-2: #303030;
    --grey-0: #8f8f8f;

    --primary-black-1: #1F1E1D;
    --primary-black-2: #111;
    --primary-gray: #f2f2f2;
    --primary-white: #fff;
    --primary-orange: #F84525;
    --second-black-1: #272628;
    --second-black-2: #323135;
    --second-black-3: #60606080;
    --second-gray: #9C9C9C;
    --shadow-black: #000;
    --shadow-white: #cecece;
    --selection-color: #DEE1E6;
}

/* ============================ */
/* ========== MIXINS ========== */
/* ============================ */

@mixin font($size, $weight, $color, $letter-spacing, $text-transform) {
    font-size: $size;
    font-weight: $weight;
    color: $color;
    letter-spacing: $letter-spacing;
    text-transform: $text-transform;
}

@mixin flex($flexFlow, $alignItems, $justifyContent) {
    display: flex;
    flex-flow: $flexFlow;
    align-items: $alignItems;
    justify-content: $justifyContent;
}

// media queries mixins
$breakpoints: (
    mobile: 500px,
    tablet: 767px,
    small-screen: 1100px,
);

@mixin mobile-screen {
    @media screen and (max-width: map-get($breakpoints, mobile)) {
        @content;
    }
}

@mixin tablet-screen {
    @media screen and (max-width: map-get($breakpoints, tablet)) {
        @content;
    }
}

@mixin small-screen {
    @media screen and (max-width: map-get($breakpoints, small-screen)) {
        @content;
    }
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
    background: transparent;
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-orange);
}

/* =============================== */
/* ========== MAIN CODE ========== */
/* =============================== */

* {
    font-family: "Segoe UI";
    padding: 0; margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    color: var(--primary-white);
    img {
        max-width: 100%;
    }
}

html {
    font-size: 62.5%;   /* 1 rem = 10px */
    scroll-behavior: smooth;    /* scrollbar smooth */
}

/* ========== CURSOR ========== */

.cursor, .cursor--inner {
    position: fixed;
    width: 45px; height: 45px;
    border: 1.25px solid var(--second-black-3);
    border-radius: 50%;
    transition: 0.15s ease-out;
    margin-top: -22.5px;
    margin-left: -22.5px;
    z-index: 10000;
    pointer-events: none;
}

.cursor--inner {
    width: 5px; height: 5px;
    border-radius: 50%;
    margin-top: -2.5px;
    margin-left: -2.5px;
    border: none;
    background-color: var(--primary-orange);
}

.header {
    width: 100%;
    height: 160px;
    background: var(--primary-black-1);
    position: fixed;
    z-index: 999;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1% 5% 35px;
    box-shadow: 0px 0px 5px 1px var(--shadow-black);

    .header-left, .header-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .title-page {
        @include font(5rem, 700, var(--primary-white), 1px, none);
    }

    .path-container {
        @include font(1.3rem, 700, var(--primary-white), 2px, uppercase);
    }

    .discover {
        @include font(1.5rem, 700, var(--primary-white), 3px, none);
        cursor: pointer;
        background: transparent;
        border: none; outline: none;
        position: relative;
        text-transform: uppercase;
        padding: 5px 0 10px;

        &::before {
            content: "";
            width: 0;
            height: 1px;
            background: var(--primary-orange);
            display: block;
            transition: 0.4s ease;
            margin-bottom: 10px;
        }

        &:focus::before, &:hover::before {
            width: 100%;
            transition: 0.4s ease;
        }

        // apparition of menu when click
        &:focus > ul {
            display: block;
        }

        ul {
            width: 250px;
            list-style-type: none;
            background: var(--second-black-1);
            display: none;
            position: absolute;
            right: 0; top: 100%;
            z-index: 100;

            li {
                @include font(2rem, 600, var(--primary-white), 1px, none);
                padding: 15px 25px;
                border: 1px solid var(--shadow-black);
                border-bottom: none;
            }

            .last {
                border-bottom: 1px solid var(--shadow-black);
            }
        }
    }
    
    .actions {
        width: 65px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        align-self: flex-end;
    }

    .select-all {
        width: 20px; height: 20px;
        background: var(--second-black-2);
    }

    .download {
        font-size: 18px;
    }
}

.main-container {
    background: var(--primary-black-1);
    position: absolute;
    top: 160px; right: 0; bottom: 0; left: 0;
}

.gallery-outer {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-content: flex-start;
    padding: 1%;
    overflow-y: scroll;
}

.square {
    width: calc(100% / 6);
    border: 1px solid var(--shadow-black);
    position: relative;

    // to make a responsive square
    &::after {
        content: '';
        display: block;
        padding-bottom: 100%;
    }

    &__inner {
        position: absolute;
        width: 100%;
        height: 100%;
        background: var(--second-black-2);

        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            opacity: 0;
            background: var(--second-black-1);
            transition: 0.4s ease;
            z-index: -1;
        }

        &:hover::after, &:hover > h1,
        &:hover > .select, &:hover > i {
            cursor: pointer;
            opacity: 1;
            transition: 0.4s ease;
        }

        .select {
            width: 20px; height: 20px;
            position: absolute;
            top: 6%; right: 6%;
            transition: 0.4s ease;
            z-index: 1;
            opacity: 0;
            cursor: pointer;
        }

        .select:checked {
            opacity: 1;
        }

        i {
            font-size: 18px;
            margin-top: 10px;
            position: absolute;
            top: 15%; right: 6.5%;
            transition: 0.4s ease;
            z-index: 1;
            opacity: 0;
            cursor: pointer;
        }

        h1 {
            @include font(2rem, 600, var(--primary-white), 1px, none);
            position: absolute;
            bottom: 0;
            margin: 6% 10%;
            transition: 0.4s ease;
            opacity: 0;
            z-index: 1;
        }
    }

    .folder h1 {
        opacity: 1;
    }
}